@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');

body{
    background-color: antiquewhite;
}

*{
    margin: 0;
    padding: 0;
}
nav{
    font-family: 'Roboto', sans-serif;
}

nav ul{
    display: flex;
    list-style-type: none;
    height: 65px;
    background-color: black;
    color: white;
    align-items: center;
}
nav ul li{
    padding: 0 12px;
}
.brand img{
    width: 44px;
    padding: 0 8px;
}
.brand{
    display: flex;
    align-items: center;
    font-weight: bolder;
    font-size: 1.3rem;
}

.container{
    min-height: 72vh;
    /*background-color: black;*/
    color: white;
    font-family: 'Varela Round',sans-serif;
    display: flex;
    background-image: url('bg.jpg');
    margin: 23px auto;
    border-radius: 12px;
    width: 92%;

    padding: 35px;
    
}

.bottom{
    position: sticky;
    bottom: 0;
    height: 130px;
    background-color: black;
    display:flex;
    justify-content: center;
    align-items: center;
    color: white;
    flex-direction: column;
}
.icons{
    margin-top: 10px;
}
.icons i{
    cursor: pointer;
}
#myprogressbar{
    width: 80vw;
    align-items: center;
    cursor: pointer;
}
.songitem{
    height: 50px;
    display: flex;
    background-color: white;
    padding-right: 16px;
    color: black;
    margin: 12px 0;
    justify-content: space-between;
    align-items: center;
    border-radius: 30px;
}
.songitem img{
    width: 43px;
    margin: 0 23px;
    border-radius: 30px;
    
}
.songitemcontainer{
    margin-top: 80px;
    margin-left: 100px;
    width: 500px;
}
.timestamp i{
    cursor: pointer;
}
.songinfo{
    position: absolute;
    left: 10vw;
    font-family: 'Varela Round',sans-serif;
 }
.songinfo img{
    opacity: 0;
    transition: opacity 1s ease-in;
} 